.header{
    text-align: center;
}

html {
    background-image: url("/images/bg.png");
    background-size: cover;
}

.b1 {
    background-image: url("/images/b1.png");
    background-size: cover;
}

.b2 {
    background-image: url("/images/b2.png");
    background-size: cover;
}

input {
    font-size: large;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 300px;
    border-radius: 25px;
    border: 2px solid;
}

.center {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    text-align: center;

  }

table {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
 
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.redAlert {
    text-align: center;
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 2px solid;
}

.greenAlert {
    text-align: center;
    display: none;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 2px solid;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
     color: black;
}